@use '@angular/material' as mat;

mat.$theme-ignore-duplication-warnings: true;

@include mat.core();

/*
$red-palette
$green-palette
$blue-palette
$yellow-palette
$cyan-palette
$magenta-palette
$orange-palette
$chartreuse-palette
$azure-palette
$violet-palette
$rose-palette
*/

$dark-primary-text: rgba(black, 0.87);

$light-primary-text: white;

// Light Theme
// $angular-primary: mat.define-palette(mat.$red-palette);
// $angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $angular-warn: mat.define-palette(mat.$red-palette);

$angular-app-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$cyan-palette
    ),
  )
);

//Dark Theme
// $angular-dark-primary: mat.define-palette(mat.$blue-grey-palette, 500, 100, 900);
// $angular-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
// $angular-dark-warn: mat.define-palette(mat.$deep-orange-palette);

$angular-app-dark-theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$yellow-palette,
        tertiary: mat.$rose-palette
      ),
    )
);

.dark-theme{
  @include mat.all-component-themes($angular-app-dark-theme);
  // @include mat.all-component-colors($angular-app-dark-theme);
}

.light-theme{
@include mat.all-component-themes($angular-app-light-theme);
}
